﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TDD & SOLID example</h1>
</div>

@Html.ActionLink("Generate new password", "GeneratePassword")
@Html.ActionLink("Validate password", "ValidatePassword")