﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Valid password</title>
</head>
<body>
    <div>
        <h1>Password validated with success</h1>
    </div>
</body>
</html>